<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if current_user %>
  <%= link_to "Star", star_article_path(@article), method: :put, remote: true %>
<% end %>
